@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 38;
  --background-rgb: 250, 249, 250;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Stops the body from scrolling */
  overscroll-behavior: none; /* Stops the "rubber band" bounce on iOS */
  -webkit-overflow-scrolling: touch;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animate-draw-line {
  animation: drawLine 1.5s ease-out forwards;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(135deg, #E65473 0%, #C23A5B 100%);
}
